<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pawhouseteam.googleworkshop2018.tau.pawhouse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddSenctuary"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddSector"
            android:parentActivityName=".AddSenctuary"></activity>
        <activity
            android:name=".AddAnimal"
            android:label="@string/title_activity_add_animal"
            android:parentActivityName=".AddSector"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>